@media only screen and (max-width: 480px) { 
    img { 
    width: 100%; 
    } 
    }

/* Общие стили */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    margin-bottom: 15px;
}

/* Стили для формы */
#mainForm {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#mainForm input,
#mainForm select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}

#mainForm input:focus,
#mainForm select:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px green;
}

#toScreen2 {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toScreen2:hover {
    background-color: green;
}

/* Стили для продуктов */
/* .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
} */

.product {
    padding: 10px;
    margin: 5px;
    background: #ccc;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.product.selected {
    background: green;
    color: white;
}

#gramsInput {
    margin-top: 10px;
}

#gramsInput input {
    width: 50px;
    margin-right: 10px;
}

#confirmGrams {
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmGrams:hover {
    background-color: green;
}

.selected-products {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

#toScreen3 {
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toScreen3:hover {
    background-color: green;
}

/* Стили для третьего экрана */
#serverResponse {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#serverResponse div {
    margin-bottom: 10px;
}  